.cover__subtitle {
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    width: 360px;
    margin-top: 0;
    margin-bottom: 0;
}

@media screen and (max-width: 767px) {
    .cover__subtitle {
        max-width: calc(100% - 32px);
        padding: 0 11px;
        box-sizing: border-box;
        font-size: 14px;
        line-height: 16px;
    }
}