.lead__caption {
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-weight: normal;
    margin: 8px auto 0;
    max-width: calc(100% - 96px);
}

@media screen and (max-width: 767px) {
    .lead__caption {
        max-width: calc(100% - 32px);
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .lead__caption {
        max-width: calc(100% - 48px);
    }
}

@media screen and (min-width: 1280px) {
    .lead__caption {
        max-width: 100%;
    }
}