.place__url-heading {
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2px;
    color: #AAAAAA;
}

@media screen and (max-width: 767px) {
    .place__url-heading {
        max-width: calc(100% - 32px);
        margin: 32px auto 12px;
    }
}